<a href="<%= '/#feed/' + feed.id %>">
  <% var title = feed.escape('title') %>
  <% if (title.length > 21) { title = title.slice(0,21) + " ..." } %>
  <% var fav; var url = feed.escape('url');fav = (url[url.length-1] === '/' ? 'favicon.ico' : '/favicon.ico') %>
	<img class="feed-icon" id="<%= feed.escape('title') %>" src="<%= feed.escape('url') + fav %>"> 
	<%= title %>
	<span class="badge"><%= (feed.get('num_entries') - feed.get('read_entries')) %></span>
</a>

<script>
  $(document).ready(function(){
    $('img.feed-icon').error(function(){
      $(this).attr('src', 'http://www.pandasecurity.com/NR/rdonlyres/8C19BC46-887E-4BF1-B118-D3E1BA92573F/0/ico_rss.gif')
    })
  })
</script>