<div class="col-lg-12">
	<div class="panel panel-default entry-index-item">
	  <div class="panel-heading">
	    <a href="<%= '/#entry/' + entry.id %>" class="entry-title"><h3 class="panel-title"><%= entry.get('title') %></a>
	  </div>
		<div class="panel-heading sub-heading">
			<a href="/#feed/<%= entry.get('feed_id') %>"><small><%= entry.escape('feed') %></small></a>
	  	<% t = new Date(entry.escape('published')) %>
			<small class="published"><%= t.toLocaleString() %></small></h3>
		</div>	  
	  <div class="panel-body">
	  	<a href="<%= '/#entry/' + entry.id %>" class="entry-title"><img src="<%= entry.escape('image') %>"></a>
	    <p><%= entry.escape('summary') %></p>
	  </div>
	  <div class="entry-footer read">
			<div class="checkbox">
				<label>
					<input type="checkbox" class="read">Mark as Read
				</label>
			</div>
			<span class="glyphicon glyphicon-star-empty entry-star"></span> Fave
	  </div>
	</div>			    
</div>
